.carousel-item-1 {
	background-image: url("https://medilife-react.netlify.app/image-1.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 180px 0;
}
.carousel-item-2 {
	background-image: url("https://medilife-react.netlify.app/image-2.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 180px 0;
}